.post-preview {
  a {
    text-decoration: none; // Remove underline
  }
}
#blog-content{
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.25rem;
  line-height: 1.5;
}

.createbuttonnavlink:hover {
  cursor: pointer;
}

.nav-item:hover{
  cursor: pointer;
}

.login-signup-here-word{
  color: #00FFFF;
}
.login-signup-here-word:hover{
  color: #0d6efd;
  cursor: pointer;
}

.login-signup-question{
  margin-top: 1rem;
}

.error{
  color:red;
}

.dropdown-item{
  cursor: pointer;
}

#posted_by_user{
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: bold;
  color: #0c4128;

}

#post-category{
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: bold;
  color: #16451c;
  font-size: 1rem;
}
#post-category:hover{
  cursor: pointer;
  color: #25ad2b;

}

.blog-post:hover{
  cursor:pointer;
}

#no-favorites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 0%;
  padding: 0;
  border: none;
}

#sad-smiley-box {
  width: 150px;
  height: 150px;
  background-color: linear-gradient(to right, rgba(0, 174, 255, 0.332), rgba(16, 120, 154, 0.271), rgba(77, 104, 214, 0.282), rgba(13, 92, 156, 0.359), rgba(0, 0, 255, 0.151));
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding: 0;
  border: none;
}

#no-favorites-emoji {
  width: 100px;
  height: 100px;
}

#no-favorites-container h1 {
  margin-top: 0px;
  padding: 0;
  border: none;
}
