.post-preview {
  a {
    text-decoration: none; // Remove underline
  }
}
#blog-content{
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.25rem;
  line-height: 1.5;
}

.createbuttonnavlink:hover {
  cursor: pointer;
}

.nav-item:hover{
  cursor: pointer;
}

.login-signup-here-word{
  color: #00FFFF;
}
.login-signup-here-word:hover{
  color: #0d6efd;
  cursor: pointer;
}

.login-signup-question{
  margin-top: 1rem;
}

.error{
  color:red;
}

.dropdown-item{
  cursor: pointer;
}

#posted_by_user{
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: bold;
  color: #0c4128;

}